<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Welcome to our blog — your go-to place for learning, growth, and inspiration.

      Whether you're a beginner or someone looking to sharpen your skills, our blog is designed to help you. We share useful tutorials, practical tips, and real-world insights to make learning easier and more enjoyable.
      
      Our goal is to simplify complex topics, save your time, and help you grow step-by-step. From tech and coding to creative thinking, you’ll find content that adds value to your personal and professional journey.
      
      Start exploring — and let this blog be a helpful part of your success!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>